@font-face {
  font-family: "roboto";
  src: url(/fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/Roboto-Black.ttf);
  font-style: normal;
  font-weight: 600;
}

body { 
    font-size: 1rem;
    background-color: #eeeff1 !important;
 }

.bg-footer {
    background-color: #43484d;
}

p {
  font-family: roboto;
  font-weight: 100;
}

.nav-item {
  font-family: roboto;
  font-weight: 600;
}

.hero-top {
  background-color: #003e78;
}

/* #hero-image {
  background: url(/images/billboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  border-bottom-left-radius: .25rem!important;
  border-bottom-right-radius: .25rem!important;
} */

.btn-hero {
  background-color: #017edb;
  color: #fff;
}

.hero-overlay, .kyp_text {
  max-width: 40%;
  max-height: 40vh;
  background-color: rgba(255, 255, 255, 0.884);
  /* margin-top: 30%; */
}

.kyp_text{
    position: absolute;
    margin-top: -18%;
    margin-left: 5%;
    max-width: 20%;
}

.hero-overlay{
    position: absolute;
    margin-top: -18%;
    margin-left: 5%;
    max-width: 20%;
}

#copyright {
    font-size: 0.8rem;
}

.footer-text {
    color: #9fa7af;
    font-size: 0.9rem;
}